language: node_js
node_js:
  - 16
addons:
  apt:
    sources:
      - travis-ci/sqlite3
    packages:
      - sqlite3
sudo: false
before_script:
  - npm install -g mocha
script:
  - npm test
deploy:
  provider: heroku
  skip_cleanup: true
  api_key:
    secure: X27QsMVMOSM1TdSVV3SD1U4aK2HHNU1FNB+8/SIIGgHG9nv3szLMZzJyMT1uOxGLStwyl4P71nVTk4EyzhYKYFxrUEFLtI/aP7ZDJ74EzhKWt0rJlr8kqkHffEq2U1evP3GyBJaPVaRMdnFbQhsPRQfshBTDvR1Bvwaf5hNV8IxAjQh0cEOx1K8j0bIOmA6b6A/xPXCvmJsU/w0nW2TBG6ojx6S/V2sBkaVebdvb/BK+Eg+MnXlv/cFERPl4Hd2QaHjPUJvz8c+iKev1PquWYXmTABkcwCfObWwip+9EWJOaIXaLqCmd9irGFP/pV5ky2ePXoxXlYOqWxPXoKHCmiLDJNwd2MF4C5csh+DoKB3m1z6CswhLuT1J7oTuKHjzFLlQwFKl80hA+J7o1xhgkuIVWHN1K7ipNKmIjv4DCX88fTAFGWnsK2EQlk2AgQcIGnugopJzBzH8nRnYBnqo6JJ+0EfWV2Skv0tSpyKwNa7cdGtEmy5BMVAZu5QN5X/XrXlIt9riJWNr0waIpPA3KOwXp3+04vY0nnpLDAXzGqIUewPzY2geHHwtkViA7Vi19KYVzzADaPVkATTjVqX6BQ/vH4Vc1B9tIUkUjSHVOqeHmhPBaRo/FppRhXzuJf74BGNu0IsI99eD7RrangC0UUFisiCF75IPXnZQhgiv87Y0=
  app: ford-api-tiagolima
  edge: true
